<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tulip.code.mapper.local.UserMapper" >
  <resultMap id="BaseResultMap" type="com.tulip.code.beans.User" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="POLICE_ID" property="policeId" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="PHONE_NUMBER" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="UNIT_NO" property="unitNo" jdbcType="VARCHAR" />
    <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="ROLE_LEVEL" property="roleLevel" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="HEAD_PIC" property="headPic" jdbcType="VARCHAR" />
    <result column="IS_ADMIN" property="isAdmin" jdbcType="VARCHAR" />
    <result column="COUNTY" property="county" jdbcType="VARCHAR" />
    <result column="STREET" property="street" jdbcType="VARCHAR" />
    <result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, POLICE_ID, "PASSWORD", PHONE_NUMBER, UNIT_NO, UNIT_NAME, ROLE_ID, ROLE_NAME, 
    ROLE_LEVEL, CREATE_TIME, USER_NAME, HEAD_PIC, IS_ADMIN, COUNTY, STREET, ID_CARD
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TEMPLATE_USER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TEMPLATE_USER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tulip.code.beans.User" >
    insert into TEMPLATE_USER (ID, POLICE_ID, "PASSWORD", 
      PHONE_NUMBER, UNIT_NO, UNIT_NAME, 
      ROLE_ID, ROLE_NAME, ROLE_LEVEL, 
      CREATE_TIME, USER_NAME, HEAD_PIC, 
      IS_ADMIN, COUNTY, STREET, 
      ID_CARD)
    values (#{id,jdbcType=VARCHAR}, #{policeId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{unitNo,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{roleLevel,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR}, #{headPic,jdbcType=VARCHAR}, 
      #{isAdmin,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tulip.code.beans.User" >
    insert into TEMPLATE_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="policeId != null" >
        POLICE_ID,
      </if>
      <if test="password != null" >
        "PASSWORD",
      </if>
      <if test="phoneNumber != null" >
        PHONE_NUMBER,
      </if>
      <if test="unitNo != null" >
        UNIT_NO,
      </if>
      <if test="unitName != null" >
        UNIT_NAME,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="roleLevel != null" >
        ROLE_LEVEL,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="headPic != null" >
        HEAD_PIC,
      </if>
      <if test="isAdmin != null" >
        IS_ADMIN,
      </if>
      <if test="county != null" >
        COUNTY,
      </if>
      <if test="street != null" >
        STREET,
      </if>
      <if test="idCard != null" >
        ID_CARD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="policeId != null" >
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="unitNo != null" >
        #{unitNo,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleLevel != null" >
        #{roleLevel,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null" >
        #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null" >
        #{isAdmin,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tulip.code.beans.User" >
    update TEMPLATE_USER
    <set >
      <if test="policeId != null" >
        POLICE_ID = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        "PASSWORD" = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="unitNo != null" >
        UNIT_NO = #{unitNo,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null" >
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleLevel != null" >
        ROLE_LEVEL = #{roleLevel,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null" >
        HEAD_PIC = #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null" >
        IS_ADMIN = #{isAdmin,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        COUNTY = #{county,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        STREET = #{street,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        ID_CARD = #{idCard,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tulip.code.beans.User" >
    update TEMPLATE_USER
    set POLICE_ID = #{policeId,jdbcType=VARCHAR},
      "PASSWORD" = #{password,jdbcType=VARCHAR},
      PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      UNIT_NO = #{unitNo,jdbcType=VARCHAR},
      UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ROLE_LEVEL = #{roleLevel,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      HEAD_PIC = #{headPic,jdbcType=VARCHAR},
      IS_ADMIN = #{isAdmin,jdbcType=VARCHAR},
      COUNTY = #{county,jdbcType=VARCHAR},
      STREET = #{street,jdbcType=VARCHAR},
      ID_CARD = #{idCard,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>